{% extends "layout.html" %}

{% block title %}
    Log In
{% endblock %}

{% block main %}

    <div class="container-xxl py-6">
        <div class="container">
            <div class="row g-5">
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.1s">
                    <div class="position-relative overflow-hidden pt-5 h-100" style="min-height: 400px;">
                        <img class="position-absolute w-100 h-100 start-0" src="static/img/login-1.jpg" alt="" style="object-fit: cover;">
                        <img class="position-absolute top-0 start-0 bg-white pe-3 pb-3" src="static/img/login-2.jpg" alt="" style="object-fit: cover;width: 200px; height: 200px">
                    </div>
                </div>
                <div class="col-lg-6 wow fadeInUp" data-wow-delay="0.5s">
                    <h4 class="text-primary text-uppercase mb-2">Login</h4>
                    <h1 class="display-6 mb-4">to creating positive change together</h1>
                    <form action="/login" method="post">
                        <div class="row g-3">
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="text" class="form-control border-0 bg-light" id="username" name="username" placeholder="Your Username">
                                    <label for="username">Your Username</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <div class="form-floating">
                                    <input type="password" class="form-control border-0 bg-light" id="password" name="password" placeholder="Your Password">
                                    <label for="password">Your Password</label>
                                </div>
                            </div>
                            <div class="col-12">
                                <button class="btn btn-primary w-100 py-3" type="submit">Login</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
